body
{
    background-color: #e4dbd3!important;
   
}

.navbar
{ 
    
 	height: 150px;
 	background-color: gray!important;
    z-index: 999;
    position: fixed!important;
    width: 100%;
}
.formuInscription
{

    position: relative;
    padding: 50px;
    margin-bottom: 250px!important;
    background-color: rgba(241, 237, 237, 0.3);
    color: rgb(80, 78, 78);
    width: 70%;
    margin: auto;
    text-align: center;
    border-radius: 10px;   

}

.usermenu
{

    text-align: center!important;
    margin: auto!important;
    padding: 200px!important;

}

.formuInscription .champ
{

    margin: 20px;
    width: 90%!important;
    border-radius: 10px;
    padding: 5px;

}
.inscription
{

    position: relative;
    top: 200px;

}
.table:hover
{
    color: red;
    font-size: 50px;
}
.nav li a
{
	font-size: 24px;
	font-weight: bold;
}

.logo img
{
	margin-top: -30px!important;
	width: 150px;
	height: auto;
	text-align: center;
	margin: auto;
}
.page-footer
{
    margin-bottom: 0px!important;
    background-color: gray;
    padding: 10px;
    padding-bottom: 20px;
    position: absolute;
    height: 300px;
    width: 100%;
}
.nav
{
    height: auto;
    margin-top: -30px;
	text-align: center;
	border-radius: 10px;

}

.dropdown a
{
    color: rgb(102, 99, 99)!important;
}

.services a
{
    
    color: rgb(102, 99, 99)!important;
}
.services
{
    
    display: flex;
    align-content: space-around;
}
.rech
{
    width: 500px;
}
.services h2, .principal h2
{
    color: #696969!important;
    padding: 20px;
    font-weight: bold; 
    font-size: 50px!important;
    
}

.avantages :first-child
{

    float: right;

}
.avantages :last-child
{

    text-align: center;
    margin: auto;

}
.avantages, .services
{

    background-color: rgba(121, 112, 112, 0.2)!important;
    padding: 20px;
    color: #696969;

}
.rechercheNounou input
{
    width: 250px!important;
}

.service
{
    background-color: rgba(241, 237, 237, 0.3);
    color: rgb(80, 78, 78);
    width: 300px!important;
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.paginNum .num 
{

    border: 1px solid grey!important;

}
.validat
{

    background-color: red!important;

}
.valid
{
    
    position: relative;
    top: 200px;
    margin-bottom: 50px;
       
}
.paginNum ul li
{
    
    display: inline;
  
}
.paginNum ul li:first-child, .paginNum ul li:last-child
{
    
    border: 1px solid grey!important;

}
.paginNum ul li a
{

    padding-right: 7px;
    padding-left: 7px;

}
a
{
    color: white!important;
}
.service a:hover
{
    transform: scale(1.5); 
}

.slider h1
{
    z-index: 9;
    color: white;
    top: 400px;
    font-weight: bold;
    width: 100%;
    font-size: 80px;
    position: relative;
    margin: auto;
    text-align: center;
}
.principal
{
    margin-top: 30px;
}
.carteNounou{ 
    
    margin: auto;
    text-align: center;
    position: relative;
    top: 200px!important;
    margin-bottom: 100px;
    color: #696969;
    min-height: 100%!important;

}
#carte
{

    margin: auto;
    text-align: center;
    position: relative;
    border: 1px solid gray;
    width: 90%; 
    height: 500px;
    

}
.commente
{
    padding: 10px;
    position: relative;
    top: 10px;
    margin: 20px!important;
    background-color: rgb(235, 230, 230);
    color: rgb(80, 78, 78);
    border-radius: 10px;
    height: 230px;
}
.commente .champ
{
    margin-top: 5px!important;
    margin-bottom: 5px!important;
    width: 90%!important;
    background-color: rgb(226, 222, 222);
    border-radius: 10px;
    padding: 5px;

}
#formvali
{

   top: 200px;
   position: relative;
   
    width: 40%;
    text-align: center;
    margin: auto;
    padding: 5px;
    border: gray 2px solid;
    background-color: rgba(102, 99, 99, 0.5);
    border-radius: 10px;

}

#formvali .champ
{

    width: 80%;
    padding: 2px;
    margin: 5px;
    background-color: rgb(226, 222, 222);
    border-radius: 10px;

}
.admin
{
    min-height: 100%!important;
    z-index: 99;
}
.commente .btn
{
     margin: auto!important;
    text-align: center!important;
}
.avantage p
{
    background-color: rgba(241, 237, 237, 0.3);
    color: rgb(80, 78, 78);
    
}
.avantage h3
{

    padding: 5px;
    background-color: rgba(121, 112, 112, 0.2)!important;

}
.avantage
{

    margin: 20px;

}

.site-content
{

    min-height: 100%!important;

}

.admin
{

    position: relative;
    top: 200px;

}

.deconnect
{

    margin-left: 50px;

}

.admin button
{
    
    background-color: rgba(241, 237, 237, 0.3);
    color: rgb(80, 78, 78)!important;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 5px!important;
    
}
.nounous
{

    width: 70%;
    border-radius: 10px;
    height: auto;
    background-color: rgba(241, 237, 237, 0.3);
    color: rgb(80, 78, 78);
    padding: 10px;
    text-align: center;
    margin: auto;

}
.admin a
{

    color: #696969!important;

}
.dispo
{
    border: 2px solid white;
}
.formConnexion
{
    padding: 50px;
    
    margin-bottom: 150px!important;
    background-color: rgba(241, 237, 237, 0.3);
    color: rgb(80, 78, 78);
    width: 70%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}
.connexion
{

    position: relative;
    top: 200px!important;

}
.btn
{
    background-color: #e4dbd3!important;
   
}

.formConnexion .champ
{
    margin: 20px;
    width: 90%!important;
    border-radius: 10px;
    padding: 5px;

}
.dispo thead th
{
    border: 2px solid white;
    padding: 15px!important;

}
.erreur img
{

    text-align: center;
    margin: auto;
    width: 800px;
    height: auto;
    position: relative;
    top: 200px;
    margin-bottom: 300px;

}
.erreur 
{

    text-align: center!important;
    margin: auto!important;
}
.formPostul
{
       padding: 50px;
    margin-bottom: 350px!important;
    background-color: rgba(241, 237, 237, 0.3);
    color: rgb(80, 78, 78);
    
   
    border-radius: 10px;
}
.postuler
{
    margin: auto;
    text-align: center;
    width: 70%;
    position: relative;
    top: 300px!important;
}

.formPostul .ligne
{
    margin: 20px;
    width: 90%!important;
    border-radius: 10px;
    padding: 5px;
}
.commenter
{

    margin-left: 20px;
    margin-bottom: 30px;
}
.oneComment
{
    border-radius: 150px 150px 150px 150px!important;
    text-align: center;
    padding: 50px;
    margin: 10px;
    width: 300px;

}
.commentsDiv
{
    background-color: rgba(121, 112, 112, 0.2)!important;
    text-align: center;
    margin: auto;
    height: 300px;
    
}
.comments 
{
    display: flex;
    align-content: space-around;
    

}
.comment
{

    width: 50%;
    background-color: rgba(241, 237, 237, 0.3);
    color: rgb(80, 78, 78);
    margin: 50px;
    padding: 20px;

}
.slider{

    height: auto;
    width: 100%;  
}
.slide{
     height: auto;
     display: none;
}
.slide img
{
    width: 100%;
    height: auto;
    border: 1px pink solid;
    
}
.head
{
    display: block;
    margin-top: 0px;
}
.head_phone
{
    display: none;
}

@media only screen and (max-width:800px) 
{
    .avantages, .services
    {
        display: flex;
        flex-direction: column;
    }
    .avantage, .service a
    {
        margin-top: 10px!important;
        width: 90%!important;
        float: none;
        text-align: center;
        margin: auto;
    }
    
    h2, a
    {

        font-size: 15px!important;

    }
    h1
    {

        font-size: 35px!important;

    }
    .slider h1
    {
        position: relative;
        top: 200px;
        background-color: rgba(97, 92, 92, 0.5);
    }
    .formuInscription, .formConnexion, .formPostul, .commente
    {
        width: 95%!important;
    }
    .head
    {
        display: none;
    }
    .head_phone
    {
        display: block;
    }
}